* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    color: #333;
    transition: background-color 0.3s ease;
    overflow: hidden;
}


.quiz_container {
    /* min-width: 100%; */
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: start;
    /* transition: transform 0.3s ease;
    transform: translateY(-100%); */
}

#question_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn_container {
    background-color: transparent;
    display: flex;
    gap: 10px;
    align-items: start;
}

#next_btn,
.restart_btn {
    padding: 10px 16px;
    width: 50%;
    border: 1px dashed transparent;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    background-color: transparent;
    color: black;
    padding: 8px 10px;
    border: 1px dotted gray;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
#next_btn:hover {
    background-color: #007bff;
    transition: background-color 0.3s ease;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.btn:disabled {
    /* cursor: not-allowed; */
    opacity: 0.6;
}


.correct {
    background: #28a745;
    color: white !important;
    border-color: #218838;
}


.wrong {
    background: #dc3545;
    color: white;
    border-color: #c82333;
}


.clicked {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}

.progress {
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
}

.result_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 50%;
}

.restart_btn:hover {
    background-color: #007bff;
    transition: background-color 0.3s ease;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}